#mapBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
}
.mapCell {
  height: 80px;
  width: 80px;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
}
.mapCell:hover {
  background-color: aqua;
}
.north {
  border-top: 1px solid black;
}
.east {
  border-right: 1px solid black;
}
.south {
  border-bottom: 1px solid black;
}
.west {
  border-left: 1px solid black;
}